
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #181719;
    color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    font-style: normal;
    padding: 0 2%;
}

.container {
    margin-top: 10%;
}

/*Title*/
.navbar {
    background-color: #181719;
    padding: 1% 8%;
}

.navbar-brand {
    font-family: 'Crimson Pro', Times, serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    text-transform: uppercase;
    border: 1px #FFFFFF solid;
    min-width: 102px;
    max-height: 25px;
    text-align: center;
    padding: 3px 3px;
}

header {
    background-color: #181719;
    padding: 50px;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;
}

.head-title h1 {
    font-family: 'Crimson Pro', Times, serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    text-transform: uppercase;
    border: 1px #FFFFFF solid;
    min-width: 102px;
    text-align: center;
    padding: 3px 3px;
}

nav {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px 30px;
    margin: 0 7%;

}


li a {
    display: inline;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 50px;
    padding-bottom: 3px;
}

li a:hover {
    border-bottom: 2px #FFFFFF solid;
}

.active {
    font-weight: 700;
    border-bottom: 2px #FFFFFF solid;

}


/*Content*/
.title-detail {
    max-width: 410px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-top: 9%;
    padding-left: 3%;
    margin-right: 20px;
    
}

.title-detail h2 {
    font-family: 'Lora', Times, serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
}

.title-detail a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.title-detail a:hover {
    text-decoration: underline;
}


/*hero*/
.hero {
    max-width: 2220px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.title-image {
    width: 130%;
    margin: 0 auto;
}


.profile-container {
    max-width: 320px;
    background-color: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
    top: -110px;
    left: 330px;
    padding: 3%;
    max-height: 150px;
}

.profile {
    width: 90%;
    margin-left: 10px;
    padding-bottom: 10px;
}

.img-container {
    max-width: 85px;
    margin: 0 auto;
}

.img-container img {
    border-radius: 50%;
    width: 70%;
    margin: 10px;
}

.profile h3 {
    line-height: 17px;
    font-size: 14px;
}



.info {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    align-self: baseline;
}

.info p {
    color: #828282;
    font-size: 12px;
    line-height: 15px;
}

.info-p2 {
    font-family: 'Lora', Times, serif;
    
    font-weight: 700;
    line-height: 31px;
    max-width: 287px;
}

.info-p2 h3 {
    font-size: 20px;
}

footer {
    text-align: center;
}

footer , footer a{
    color: #A9A9A9;
}


@media screen and (max-width: 1300px) {
    .navbar {
        width: 100%;
    }

    .title-detail,
    .hero {
        margin: 0 auto;
    }

    .title-detail {
        width: 100%;
    }
    
    .title-image {
        width: 100%;
        margin: 0 auto;
    }

    .profile {
        width: 90%;
    }

    .profile-container {
        top: -110px;
        left: 100px;
        width: 70%;
    }
}
